/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.dark .feature-box h3 span.subtitle,
.team-title span {
    color: #75DB3C;
}

.dark .feature-box h3 span.subtitle {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
}

.feature-box h3 {
	font-size: 19px;
}

.font-body { font-family: 'Raleway', sans-serif !important; }

.font-primary { font-family: 'Raleway', sans-serif !important; }

.font-secondary { font-family: 'Raleway', sans-serif !important; }

body {
	font-family: 'Raleway', sans-serif;
}

a {
	color: #308B16;
}

.button {
	background-color: #308B16;
}

/* fucker not working. todo fix this */
.button.button-dark:hover { background-color: #75DB3C; }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

#primary-menu ul li > a {
	font-family: 'Raleway', sans-serif;
}

#logo #string-vector {
	height: 93px;
	-webkit-transition: height .4s ease, opacity .3s ease;
	-o-transition: height .4s ease, opacity .3s ease;
	transition: height .4s ease, opacity .3s ease;
}

#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo #string-vector {
	margin-top: 14px;
	height: 35px;
	margin-bottom: 4px;
}

.dark #header.transparent-header.full-header:not(.sticky-header) #header-wrap:not(.not-dark) #logo,
#header.transparent-header.full-header.dark:not(.sticky-header) #header-wrap:not(.not-dark) #logo {
	border-right: 0px;
}


#logo {
	font-family: 'Raleway', sans-serif;
}

#header.full-header #logo {
	border-right: 0px;
}

#header.full-header #primary-menu > ul {
	padding-right: 15px;
	margin-right: 0px;
	border-right: 0px;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
}

/* Redesign */

.bg-stringlabs {
	background: linear-gradient(to bottom left, rgb(48, 48, 88), rgb(0, 252, 252));
	height: 100vh;
}

.bg-stringlabs-dark {
	background: linear-gradient(to bottom left, rgb(28, 28, 68), rgb(0, 232, 232));
}

#slider.with-header .dark .slider-caption h2 {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
	text-align: left;
	clear: both;
}

#slider.with-header .dark .slider-caption h2:before {
	content: "";
	float: left;
	width: 0.25rem;
	height: 128px;
	background: linear-gradient(to bottom, rgb(254, 254, 0), transparent);
	margin-right: 4rem;
}
