/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/*
	Redesign (Benny)
	Table of Contents:
	1. Base Styles
	2. Theme Overrides
	3. Layout
	4. Typography
*/

/* 1. Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #222;
	border-top-right-radius: 100vw;
	border-top-right-radius: 100vw;
}

::-webkit-scrollbar-thumb {
	border-radius: 100vw;
	background: #777;
}

div ::-webkit-scrollbar {
	width: 6px;
}

div ::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.25);
}

div ::-webkit-scrollbar-thumb {
	background: #eee;
}

html, body {
	overflow-x: hidden;
}

/* 2. Theme Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dark .feature-box p,
.team-content p {
	color: white;
	padding-right: 1rem;
	text-align: left;
}

.team-desc {
	display: none;
}

.team-image img {
	width: 25%;
	height: 25%;
}

.dark .heading-block:not(.not-dark):after {
	border: none;
}

#wrapper {
	background: auto;
}

#header.full-header {
	background: rgba(0, 0, 0, 0.25);
	width: 25rem;
	z-index: 1;
	border: none;
	transition: none;
}

#header.full-header,
#header.full-header #header-wrap {
	position: fixed;
	height: 100vh;
}

#header.full-header,
#header.full-header #header-wrap {
	border-bottom: none;
	padding: 2rem 2rem 2rem 1rem;
	min-height: 18rem;
	opacity: 0;
	transition: opacity 0.9s linear, transform 0.9s ease;
	transform: translate3d(-5rem, 0, 0);
}

#header.full-header.expanded,
#header.full-header.expanded #header-wrap {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

#header.full-header #header-wrap #logo {
	padding: 0;
	margin: 0;
	border: none;
}

#header.full-header #header-wrap,
#header.full-header #primary-menu {
	clear: both;
}

#header.full-header #header-wrap #primary-menu > ul {
	margin-top: 2rem;
	padding: 0;
	border: none;
}

#header.full-header #primary-menu > ul > li {
	float: none;
	margin-left: 0;
}

#header.full-header #primary-menu > ul > li.sub-menu {
	position: fixed;
	bottom: 4rem;
}

#header.full-header #primary-menu > ul > li.sub-menu a .subtitle {
	color: white;
	text-transform: lowercase;
}

#header.full-header #primary-menu > ul li > a {
	padding: 0.25em 0;
	font-weight: 200;
	font-size: 0.9em;
	text-shadow: 0 1px 1rem rgba(0, 0, 20, 0.4);
	color: white;
}

#footer {
	position: fixed;
	bottom: 0;
	z-index: 100;
	width: 100%;
	height: 10rem;
	background: #39464c;
}

#copyrights {
	background: none;
	padding: 0;
}

#copyrights .col_half > span,
#copyrights .col_half > div > a {
	color: white;
	font-weight: 200;
	font-size: 0.75em;
	opacity: 0.75;
}

/* 3. Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main > section {
	padding-left: 25rem;
}

.feature-list {
	width: 72rem;
	margin: 0 auto;
}

.feature-list > .feature-item {
	width: 20rem;
	margin: 2rem;
}

.page-section.dark {
	border-bottom: solid 1rem #222;
}

.bg-stringlabs,
.bg-stringlabs-dark.full-height {
	background: url('../images/stringlabs-backdrop.png') 0 0 / cover no-repeat;
	min-height: 100vh;
}

.bg-stringlabs-dark,
.bg-stringlabs-dark.full-height {
	background: url('../images/stringlabs-backdrop-dark.png') 0 0 / cover no-repeat;
}

#section-dfinity .col_one_third {
	width: calc(33.3% - 10rem);
	margin: 5rem;
}

#header.full-header .container {
	position: static;
	padding: 0;
}

#section-hero {
	padding-top: 13.75rem;
}

#section-work .feature-box.media-box {
	position: relative;
	background: rgba(0, 0, 0, 0.25);
	padding: 1rem;
	height: 30rem;
}

#section-work .feature-box.media-box.expanded {
	height: 60rem;
}

#section-work .feature-box.media-box.expanded {
	transition: height 0.4s ease;
}

#section-work .feature-box.media-box.expanded .fbox-desc {
	transition: opacity 0.4s linear, height 0.4s ease;
}

#section-work .feature-box.media-box .fbox-desc {
	opacity: 0;
	height: 65%;
}

#section-work .feature-box.media-box.expanded .fbox-desc {
  opacity: 1;
  overflow-y: auto;
}

#section-work .feature-box.media-box .fbox-media img {
	width: 18rem;
	margin: 0 auto;
}

/* 4. Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a,
.link {
	color: rgb(254, 254, 0);
	cursor: pointer;
}

.page-section.dark .heading-block h2,
.page-section.dark .heading-block p {
	text-align: center;
	margin: 0 auto;
}

.page-section.dark .heading-block h2 {
  font-weight: 200;
  line-height: 1em;
  color: rgba(255, 255, 255, 0.6);
}

.page-section.dark .heading-block p {
	padding-top: 2em;
}

.page-section .heading-block + div {
	clear: both;
}

#section-hero .heading-block p {
	font: 100 normal 1.1em 'Raleway', sans-serif;
	letter-spacing: 0.05em;
	text-align: left;
	text-transform: lowercase;
	text-shadow: none;
	opacity: 0.75;
}

#section-hero .heading-block p {
	font: 100 normal 1.1em 'Raleway', sans-serif;
	letter-spacing: 0.05em;
	text-align: left;
	text-transform: lowercase;
	text-shadow: none;
	opacity: 0.75;
}

#section-hero.page-section.dark .heading-block h2 {
	text-align: left;
	width: 60%;
	max-width: 70rem;
	font-size: 4.2em;
}

#section-hero.page-section.dark .heading-block h2:before {
	content: "";
	float: left;
	width: 0.25rem;
	height: 20rem;
	background: linear-gradient(to bottom, rgb(254, 254, 0), transparent);
	margin-right: 4rem;
}

#section-work .feature-box.media-box .link {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	width: 100%;
}

#section-work .feature-box.media-box.expanded .link {
	position: static;
	margin: 2rem;
}

#section-work .feature-box.media-box .link:before {
	content: "find out more";
}

#section-work .feature-box.media-box.expanded .link:before {
	content: "collapse";
}

#section-link {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -5rem;
	width: 10rem;
	height: 2rem;
	line-height: 2rem;
	background: #222;
	text-align: center;
	bottom: 10rem;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	color: rgb(254, 254, 0);
	cursor: pointer;
}
