---
layout: default
projects-link: "#section-work"
team-link: "#section-team"
investors-link: "#section-investors"
contact-link: "#section-contact"
disable-news-link: true
hero: false
---

{% include required-fragment-initialization-scripts.html %}

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">

						<!-- Posts
						============================================= -->
						<div id="posts" class="post-timeline clearfix">

							<div class="timeline-border"></div>

							{% for post in paginator.posts %}

							<div class="entry clearfix">

								{% if post.blog-format-simple %}
									{% include blog-post-simple.html %}
								{% endif %}

								{% if post.blog-format-video %}
									{% include blog-post-video.html %}							
								{% endif %}

								{% if post.blog-format-slides %}
									{% include blog-post-slides.html %}									
								{% endif %}							
							</div>
							{% endfor %}

						</div><!-- #posts end -->

						{% if paginator.total_pages > 1 %}
						<ul class="pagination nobottommargin">
							<li {% unless paginator.previous_page %} class="disabled" {% endunless %}><a href="{{ paginator.previous_page_path }}">«</a></li>
							{% for page in (1..paginator.total_pages) %}
						    {% if page == paginator.page %}
							<li class="active"><a href="#">{{ page }}</a></li>
						    {% elsif page == 1 %}
						    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
						    {% else %}
						    <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
						    {% endif %}
							{% endfor %}
							<li {% unless paginator.next_page %} class="disabled" {% endunless %}><a href="{{ paginator.next_page_path }}">»</a></li>
						</ul>
						{% endif %}						

					</div><!-- #post content end -->

				</div>
			
			</div>

		</section><!-- #content end -->

