								<div class="entry-timeline">
									{{ post.day }}<span>{{ post.month }}</span>
									<div class="timeline-divider"></div>
								</div>
								<div class="entry-title">
									<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
								</div>
								<ul class="entry-meta clearfix">
									<li><a href="{{ post.author-link }}"><i class="icon-user"></i> {{ post.author }}</a></li>
									<li><i class="icon-folder-open"></i> {{ post.tags }}</li>
								</ul>
								<div class="entry-content">
									{{ post.excerpt }}
									<a href="{{ post.url }}" class="more-link">Read More</a>
								</div>	