---
layout: default
projects-link: "#section-work"
team-link: "#section-team"
investors-link: "#section-investors"
contact-link: "#section-contact"
disable-news-link: false
hero: false
---

{% include required-fragment-initialization-scripts.html %}

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <ol class="breadcrumb">
                    <li><a href="{{ base }}/news/">News</a></li>
                    <li class="active">Post</li>
                </ol>
            </div>

        </section><!-- #page-title end -->


        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="single-post nobottommargin">

                        <!-- Single Post
                        ============================================= -->
                        <div class="entry clearfix">

                            {{ content }}

                        </div>

                        <!-- Post Author Info
                        ============================================= -->

                        {% assign author = site.authors[page.author] %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Posted by <span><a href="{{ page.author-link }}">{{ page.author }}</a></span></h3>
                            </div>
                            <div class="panel-body">
                                <div class="author-image">
                                    
                                    <img src="{{ base }}/images/team/{{ author.avatar }}" alt="{{ author.display_name }}" class="img-circle">
                                </div>
                                {{ page.author-bio }}
                            </div>
                        </div><!-- Post Single - Author End -->

                        <div class="line"></div>                        
                    </div>
                </div>
            </div>
        </section>




