---
layout: outer
---

{% include required-fragment-initialization-scripts.html %}

{% if page.hero %}
      <!-- Hero
		============================================= -->
        <section id="slider" class="slider-parallax force-full-screen full-screen">

            <div class="slider-parallax-inner">

                <div class="force-full-screen full-screen dark" style="background: url('{{ base }}/images/string/reactor.jpg') center center;">

                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-animate="fadeInDown">{% t index.hero-title %}</h2>
                            <p data-animate="fadeInUp" data-delay="400">{% t index.hero-subtitle %}</p>
                        </div>
                    </div>

                </div>

            </div>

        </section>
{% endif %}
        {{ content }}
